@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary: #26547D;
  --secondary: #F36888;
  --standard: var(--primary);
  --urgent: var(--secondary);
  --btn-bg: #0F1108;
  
  --light: #E4E4E4;
  --dark: #101018;
  --danger: #FF5B57;
  --grey: #A4A6B3;

  --shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  --standard-shadow: 0px 0px 5px rgba(38, 84, 125, 0.5);
  --urgent-shadow: 0px 0px 5px rgba(243, 104, 136, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
  border: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--light);
  color: var(--dark);
}

section {
  padding-left: 1.8rem;
  padding-right: 1.5rem;
  margin: 2rem auto;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1.5rem;
}

h4 {
  color: var(--grey);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: .5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title, 
.greeting .title input {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark);
}

.create-todo form {
  padding: 0 .2rem;
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: var(--light) !important;
  border-radius: 5px;
  border: 1px solid var(--grey);
  margin-bottom: 1.5rem;
  box-shadow: var(--shadow);
}

.create-todo h3, .create-todo .title {
  text-align: center;
  font-size: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--light);
  border-radius: .5rem;
  box-shadow: var(--shadow);
  font-size: .875rem;
  cursor: pointer;
  font-weight: 700;
  color: var(--dark);
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--urgent);
  box-shadow: var(--shadow);
  margin-bottom: .5rem;
}

.bubble.standard {
  border-color: var(--standard);
  box-shadow: var(--standard-shadow);
}

.bubble.urgent {
  border-color: var(--urgent);
  box-shadow: var(--urgent-shadow);
}

.bubble::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--urgent);
  display: block;
  box-shadow: var(--urgent-shadow);
  opacity: 0;
  transition: .3s ease-in-out;
}

.bubble.standard::after {
  background-color: var(--standard);
  box-shadow: var(--standard-shadow);
}

input:checked ~ .bubble::after {
  width: .7rem;
  height: .7rem;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.create-todo input {
  width: 100%;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  color: var(--light);
  background-color: var(--btn-bg);
  border: none;
  border-radius: 5px;
  box-shadow: var(--standard-shadow);
  cursor: pointer;
  transition: .3s ease-in-out;
  align-self: center;
  margin: auto 50%;
}

.create-todo input[type="submit"]:hover {
 opacity: .875;
}

.todo-list .list {
  margin: 1rem 0;
}
.todo-list h3 {
  font-size: 1.3rem
}
.todo-list .todo-item {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--dark);
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  color: var(--light);
  padding: .6rem 1rem;
  border-radius: .25rem;
  background-color: var(--light);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: .75;
}

.todo-item .actions .edit {
  background-color: var(--primary);
  margin-right: .5rem;
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item .actions .delete:hover {
  background-color: #FF5B57;
}

.todo-item.done .todo-content input{
  text-decoration: line-through;
  color: var(--grey);
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .todo-list h3 {
    text-align: center;
  }

  h3 {
    font-size: 0.875rem;
  }

  h4 {
    font-size: 1rem; 
  }

  .create-todo input[type="text"] {
    padding: 1rem; 
  }

  .create-todo .options {
    grid-template-columns: repeat(1, 1fr); 
  }

  .create-todo .options label {
    padding: 1rem;
  }

  .create-todo input[type="submit"] {
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .todo-item .actions button {
    padding: .6rem 1rem; 
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }

  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}
